header {
    width: 100%;
    height: 70px;

    position: fixed;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: var(--color-header);

    z-index: 1000;
}
ul {
    display: flex;
}
li {
    margin-left: 22px;
    width: auto;

    list-style: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
}
#border-selected {
    border-bottom: 3px solid var(--color-destaque);
}
.btn-menu-hamburguer {
    display: none;

    border: none;
    background: transparent;
    outline: none;

    cursor: pointer;
}
.container {
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* responsive */
@media (max-width: 800px) {
    .btn-menu-hamburguer {
        display: flex;
    }
    ul {
        display: none;
    }
}