* {
    margin: 0px;
    padding: 0px;
}
:root {
    --color-header: #1C1B21;
    --color-base: white;
    --color-destaque: #815664;
    --gradient-color: linear-gradient(90deg, #D25771 0%, #BC5F54 100%); 
    --color-text: #434449;
    --color-main: #242529;
}
body {
    height: 100vh;
    font-family: "Poppins" !important;
}
.container-body {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
}
/* hiro css */
.hiro {
    width: 100%;
    height: 100vh;

    background: #1C1B21;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-hiro {
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}
.base-font {
    color: var(--color-base);
}
.title-text-hiro {
    font-size: 45px;
    font-weight: 500;
}
.sub-title-hiro {
    margin-bottom: 52px;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-destaque);
}

footer {
    width: 90%;
    height: 70px;

    position: absolute;
    bottom: 0px;

    color: var(--color-base);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.stok {
    font-size: 15px;
    font-weight: 500;
}
.lyrics-18 {
    color: var(--color-text);
}
/* main css */
.main {
    height: 1255px;

    background: var(--color-main);
}

